In [2]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
import os

In [10]:
os.getcwd()

'/Users/marie-louise/Documents/sites/JupyterNotebooks/PublicationScripts'

In [24]:
os.listdir(os.getcwd())

['versicolor.csv',
 'Excel_diff.xlsx',
 '.DS_Store',
 'merge_csv.ipynb',
 'setosa.csv',
 'compareData.ipynb',
 '.gitignore',
 'returns-datasets-sep-2020.xlsx',
 '.ipynb_checkpoints',
 'test_merge.csv',
 '.git',
 '.idea']

In [11]:
df1 = pd.read_csv('setosa.csv')

In [12]:
df1

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [13]:
df2 = pd.read_csv('versicolor.csv')

In [14]:
df2

   sepal_length  sepal_width  petal_length  petal_width     species
0           7.0          3.2           4.7          1.4  versicolor
1           6.4          3.2           4.5          1.5  versicolor
2           6.9          3.1           4.9          1.5  versicolor

In [15]:
df1.equals(df_2)

False

In [16]:
comparison_values = df1.values == df2.values

In [17]:
comparison_values

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [20]:
rows,cols=np.where(comparison_values==False)

In [21]:
for item in zip(rows,cols):
    df1.iloc[item[0], item[1]] = '{} --> {}'.format(df1.iloc[item[0], item[1]],df2.iloc[item[0], item[1]])

In [22]:
df1.to_excel('./Excel_diff.xlsx',index=False,header=True)

## Pivot

In [40]:
df_D01 = pd.read_excel (r'returns-datasets-sep-2020.xlsx', sheet_name='Data - Ret_D01')

In [42]:
df_D01.columns

Index(['Year', 'Quarter', 'Nationality', 'Region', 'Return type group',
       'Return type', 'Age', 'Sex', 'Return destination group',
       'Number of returns'],
      dtype='object')

In [41]:
df_D01.head(3)

,Year,Quarter,Nationality,Region,Return type group,Return type,Age,Sex,Return destination group,Number of returns
0,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,Under 18,Male,EU Member State,6
1,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,Under 18,Male,Other country,1
2,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,EU Member State,39

In [75]:
df_D01['Quarter'][210895:]

210895    2020 Q2
210896    2020 Q2
210897    2020 Q2
210898    2020 Q2
210899    2020 Q2
210900    2020 Q2
210901    2020 Q2
Name: Quarter, dtype: object

In [79]:
pivot = df_D01.pivot_table(index=['Return type group', 'Return type',], columns=['Quarter'])

In [80]:
pivot

                                                                                  Number of returns  \
Quarter                                                                                     2004 Q1
Return type group                               Return type
Enforced return                                 Enforced removals                          7.908163
                                                Enforced removals from detention                NaN
                                                Non-detained Enforced removals                  NaN
                                                Non-detained enforced removals                  NaN
                                                Other returns from detention                    NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls               NaN
                                                Departed from UK Ports                          NaN
                                                N/A - pre-2007                             8.667990
Voluntary return                                Assisted returns                           3.473958
                                                Controlled returns                         1.507042
                                                Other verified returns                          NaN

                                                                                             \
Quarter                                                                             2004 Q2
Return type group                               Return type
Enforced return                                 Enforced removals                  6.613184
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.701853
Voluntary return                                Assisted returns                   3.271795
                                                Controlled returns                 1.471429
                                                Other verified returns                  NaN

                                                                                             \
Quarter                                                                             2004 Q3
Return type group                               Return type
Enforced return                                 Enforced removals                  6.359948
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.304450
Voluntary return                                Assisted returns                   4.026596
                                                Controlled returns                 1.671329
                                                Other verified returns                  NaN

                                                                                             \
Quarter                                                                             2004 Q4
Return type group                               Return type
Enforced return                                 Enforced removals                  6.740988
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.779648
Voluntary return                                Assisted returns                   3.431579
                                                Controlled returns                 1.569106
                                                Other verified returns                  NaN

                                                                                             \
Quarter                                                                             2005 Q1
Return type group                               Return type
Enforced return                                 Enforced removals                  6.714286
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.443478
Voluntary return                                Assisted returns                   3.725581
                                                Controlled returns                 2.469231
                                                Other verified returns             1.818182

                                                                                             \
Quarter                                                                             2005 Q2
Return type group                               Return type
Enforced return                                 Enforced removals                  6.631847
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.362343
Voluntary return                                Assisted returns                   3.975728
                                                Controlled returns                 1.488372
                                                Other verified returns             3.361111

                                                                                             \
Quarter                                                                             2005 Q3
Return type group                               Return type
Enforced return                                 Enforced removals                  6.546366
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     5.755700
Voluntary return                                Assisted returns                   4.260163
                                                Controlled returns                 2.981383
                                                Other verified returns             2.346667

                                                                                             \
Quarter                                                                             2005 Q4
Return type group                               Return type
Enforced return                                 Enforced removals                  7.038158
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.694974
Voluntary return                                Assisted returns                   4.182203
                                                Controlled returns                 3.660494
                                                Other verified returns             2.294118

                                                                                             \
Quarter                                                                             2006 Q1
Return type group                               Return type
Enforced return                                 Enforced removals                  6.912821
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.636042
Voluntary return                                Assisted returns                   5.315254
                                                Controlled returns                 2.230366
                                                Other verified returns             2.909091

                                                                                             \
Quarter                                                                             2006 Q2
Return type group                               Return type
Enforced return                                 Enforced removals                  7.008380
                                                Enforced removals from detention        NaN
                                                Non-detained Enforced removals          NaN
                                                Non-detained enforced removals          NaN
                                                Other returns from detention            NaN
Refused entry at port and subsequently departed Departed from Juxtaposed controls       NaN
                                                Departed from UK Ports                  NaN
                                                N/A - pre-2007                     6.662862
Voluntary return                                Assisted returns                   5.385604
                                                Controlled returns                 2.004651
                                                Other verified returns             3.049419

                                                                                   ...  \
Quarter                                                                            ...
Return type group                               Return type                        ...
Enforced return                                 Enforced removals                  ...
                                                Enforced removals from detention   ...
                                                Non-detained Enforced removals     ...
                                                Non-detained enforced removals     ...
                                                Other returns from detention       ...
Refused entry at port and subsequently departed Departed from Juxtaposed controls  ...
                                                Departed from UK Ports             ...
                                                N/A - pre-2007                     ...
Voluntary return                                Assisted returns                   ...
                                                Controlled returns                 ...
                                                Other verified returns             ...

                                                                                     Year  \
Quarter                                                                           2018 Q1
Return type group                               Return type
Enforced return                                 Enforced removals                     NaN
                                                Enforced removals from detention   2018.0
                                                Non-detained Enforced removals        NaN
                                                Non-detained enforced removals     2018.0
                                                Other returns from detention       2018.0
Refused entry at port and subsequently departed Departed from Juxtaposed controls  2018.0
                                                Departed from UK Ports             2018.0
                                                N/A - pre-2007                        NaN
Voluntary return                                Assisted returns                   2018.0
                                                Controlled returns                 2018.0
                                                Other verified returns             2018.0

                                                                                           \
Quarter                                                                           2018 Q2
Return type group                               Return type
Enforced return                                 Enforced removals                     NaN
                                                Enforced removals from detention   2018.0
                                                Non-detained Enforced removals        NaN
                                                Non-detained enforced removals     2018.0
                                                Other returns from detention       2018.0
Refused entry at port and subsequently departed Departed from Juxtaposed controls  2018.0
                                                Departed from UK Ports             2018.0
                                                N/A - pre-2007                        NaN
Voluntary return                                Assisted returns                   2018.0
                                                Controlled returns                 2018.0
                                                Other verified returns             2018.0

                                                                                           \
Quarter                                                                           2018 Q3
Return type group                               Return type
Enforced return                                 Enforced removals                     NaN
                                                Enforced removals from detention   2018.0
                                                Non-detained Enforced removals     2018.0
                                                Non-detained enforced removals        NaN
                                                Other returns from detention       2018.0
Refused entry at port and subsequently departed Departed from Juxtaposed controls  2018.0
                                                Departed from UK Ports             2018.0
                                                N/A - pre-2007                        NaN
Voluntary return                                Assisted returns                   2018.0
                                                Controlled returns                 2018.0
                                                Other verified returns             2018.0

                                                                                           \
Quarter                                                                           2018 Q4
Return type group                               Return type
Enforced return                                 Enforced removals                     NaN
                                                Enforced removals from detention   2018.0
                                                Non-detained Enforced removals     2018.0
                                                Non-detained enforced removals        NaN
                                                Other returns from detention       2018.0
Refused entry at port and subsequently departed Departed from Juxtaposed controls  2018.0
                                                Departed from UK Ports             2018.0
                                                N/A - pre-2007                        NaN
Voluntary return                                Assisted returns                   2018.0
                                                Controlled returns                 2018.0
                                                Other verified returns             2018.0

                                                                                           \
Quarter                                                                           2019 Q1
Return type group                               Return type
Enforced return                                 Enforced removals                     NaN
                                                Enforced removals from detention   2019.0
                                                Non-detained Enforced removals     2019.0
                                                Non-detained enforced removals        NaN
                                                Other returns from detention       2019.0
Refused entry at port and subsequently departed Departed from Juxtaposed controls  2019.0
                                                Departed from UK Ports             2019.0
                                                N/A - pre-2007                        NaN
Voluntary return                                Assisted returns                   2019.0

In [35]:
df_Ret = pd.read_excel (r'returns-datasets-sep-2020.xlsx', sheet_name='Ret_D01', skiprows = 8)

In [36]:
df_Ret

,Row Labels,2010 Q1,2010 Q2,2010 Q3,2010 Q4,2011 Q1,2011 Q2,2011 Q3,2011 Q4,2012 Q1,...,2018 Q2,2018 Q3,2018 Q4,2019 Q1,2019 Q2,2019 Q3,2019 Q4,2020 Q1,2020 Q2,Grand Total
0,Enforced return,3568,3236,3654,3470,3765,3277,3527,3997,3774,...,2367,2115,2089,1892,1799,1686,1817,1344,361,126721
1,Enforced removals from detention,3011,2794,3147,3011,3313,2801,2985,3340,3182,...,1583,1397,1350,1345,1223,1179,1209,977,109,97033
2,Non-detained Enforced removals,244,130,149,164,128,194,148,171,153,...,222,219,192,188,207,185,216,132,14,9448
3,Other returns from detention,313,312,358,295,324,282,394,486,439,...,562,499,547,359,369,322,392,235,238,20240
4,Refused entry at port and subsequently departed,4952,4575,4776,4143,3911,4010,4269,3779,3207,...,4476,5179,5772,4794,4242,4415,4848,3507,666,176443
5,Departed from Juxtaposed controls,1403,1500,1452,1304,1285,1346,1427,1224,935,...,1940,2499,2629,2239,1800,2029,2267,1642,358,67680
6,Departed from UK Ports,3549,3075,3324,2839,2626,2664,2842,2555,2272,...,2536,2680,3143,2555,2442,2386,2581,1865,308,108763
7,Voluntary return,8350,7977,7909,7526,7827,5931,7623,8707,8025,...,3613,3742,3569,3706,3043,2694,2653,2477,430,262714
8,Assisted returns,1205,866,994,649,681,315,642,629,722,...,557,472,505,570,452,400,500,414,81,21508
9,Controlled returns,2035,2062,2082,2002,2216,2211,2456,2639,2097,...,1441,1304,1284,1209,961,799,738,633,145,88867
10,Other verified returns,5110,5049,4833,4875,4930,3405,4525,5439,5206,...,1615,1966,1780,1927,1630,1495,1415,1430,204,152339
11,Grand Total,16870,15788,16339,15139,15503,13218,15419,16483,15006,...,10456,11036,11430,10392,9084,8795,9318,7328,1457,565878

In [37]:
df_Ret.columns

Index(['Row Labels', '2010 Q1', '2010 Q2', '2010 Q3', '2010 Q4', '2011 Q1',
       '2011 Q2', '2011 Q3', '2011 Q4', '2012 Q1', '2012 Q2', '2012 Q3',
       '2012 Q4', '2013 Q1', '2013 Q2', '2013 Q3', '2013 Q4', '2014 Q1',
       '2014 Q2', '2014 Q3', '2014 Q4', '2015 Q1', '2015 Q2', '2015 Q3',
       '2015 Q4', '2016 Q1', '2016 Q2', '2016 Q3', '2016 Q4', '2017 Q1',
       '2017 Q2', '2017 Q3', '2017 Q4', '2018 Q1', '2018 Q2', '2018 Q3',
       '2018 Q4', '2019 Q1', '2019 Q2', '2019 Q3', '2019 Q4', '2020 Q1',
       '2020 Q2', 'Grand Total'],
      dtype='object')