In [2]:
import pandas as pd

In [18]:
import numpy as np

In [19]:
import os

In [10]:
os.getcwd()

'/Users/marie-louise/Documents/sites/JupyterNotebooks/PublicationScripts'

In [24]:
os.listdir(os.getcwd())

['versicolor.csv',
 'Excel_diff.xlsx',
 '.DS_Store',
 'merge_csv.ipynb',
 'setosa.csv',
 'compareData.ipynb',
 '.gitignore',
 'returns-datasets-sep-2020.xlsx',
 '.ipynb_checkpoints',
 'test_merge.csv',
 '.git',
 '.idea']

In [11]:
df1 = pd.read_csv('setosa.csv')

In [12]:
df1

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [13]:
df2 = pd.read_csv('versicolor.csv')

In [14]:
df2

   sepal_length  sepal_width  petal_length  petal_width     species
0           7.0          3.2           4.7          1.4  versicolor
1           6.4          3.2           4.5          1.5  versicolor
2           6.9          3.1           4.9          1.5  versicolor

In [15]:
df1.equals(df_2)

False

In [16]:
comparison_values = df1.values == df2.values

In [17]:
comparison_values

array([[False, False, False, False, False],
       [False, False, False, False, False],
       [False, False, False, False, False]])

In [20]:
rows,cols=np.where(comparison_values==False)

In [21]:
for item in zip(rows,cols):
    df1.iloc[item[0], item[1]] = '{} --> {}'.format(df1.iloc[item[0], item[1]],df2.iloc[item[0], item[1]])

In [22]:
df1.to_excel('./Excel_diff.xlsx',index=False,header=True)