In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'/Users/marie-louise/Documents/sites/JupyterNotebooks/PublicationScripts'

In [4]:
os.listdir(os.getcwd())

['versicolor.csv',
 'Excel_diff.xlsx',
 '.DS_Store',
 'Untitled.ipynb',
 'merge_csv.ipynb',
 'setosa.csv',
 'compareData.ipynb',
 '.gitignore',
 'returns-datasets-sep-2020.xlsx',
 '.ipynb_checkpoints',
 'test_merge.csv',
 '.git',
 '.idea']

In [6]:
df = pd.read_excel(r'returns-datasets-sep-2020.xlsx',sheet_name='Data - Ret_D01')

In [7]:
df

,Year,Quarter,Nationality,Region,Return type group,Return type,Age,Sex,Return destination group,Number of returns
0,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,Under 18,Male,EU Member State,6
1,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,Under 18,Male,Other country,1
2,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,EU Member State,39
3,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,Home country,38
4,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,Other country,2
...,...,...,...,...,...,...,...,...,...,...
210897,2020,2020 Q2,Vanuatu,Oceania,Refused entry at port and subsequently departed,Departed from UK Ports,18-29,Male,Other country,1
210898,2020,2020 Q2,Vietnam,Asia South East,Refused entry at port and subsequently departed,Departed from Juxtaposed controls,Under 18,Male,EU Member State,4
210899,2020,2020 Q2,Vietnam,Asia South East,Refused entry at port and subsequently departed,Departed from UK Ports,30-49,Male,Other country,1
210900,2020,2020 Q2,Zimbabwe,Africa Sub-Saharan,Refused entry at port and subsequently departed,Departed from UK Ports,30-49,Female,EU Member State,1
210901,2020,2020 Q2,Zimbabwe,Africa Sub-Saharan,Voluntary return,Controlled returns,30-49,Female,Home country,1

In [8]:
df.shape

(210902, 10)

In [9]:
df.columns

Index(['Year', 'Quarter', 'Nationality', 'Region', 'Return type group',
       'Return type', 'Age', 'Sex', 'Return destination group',
       'Number of returns'],
      dtype='object')

In [12]:
filt1 = df['Return type'] == 'Enforced removals'

In [13]:
df[filt1].head()

,Year,Quarter,Nationality,Region,Return type group,Return type,Age,Sex,Return destination group,Number of returns
0,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,Under 18,Male,EU Member State,6
1,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,Under 18,Male,Other country,1
2,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,EU Member State,39
3,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,Home country,38
4,2004,2004 Q1,Afghanistan,Asia Central,Enforced return,Enforced removals,18-29,Male,Other country,2