In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.getcwd()

'/Users/marie-louise/Documents/sites/JupyterNotebooks/PublicationScripts'

In [4]:
df_1 = pd.read_csv('setosa.csv')

In [5]:
df_1

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [9]:
df_1.shape

(3, 5)

In [10]:
df_1.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [11]:
df_1.sepal_length.nunique()

3

In [23]:
df_2 = pd.read_csv('versicolor.csv')

In [24]:
df_2

   sepal_length  sepal_width  petal_length  petal_width     species
0           7.0          3.2           4.7          1.4  versicolor
1           6.4          3.2           4.5          1.5  versicolor
2           6.9          3.1           4.9          1.5  versicolor

In [30]:
df_2.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [29]:
df_all_rows = pd.concat([df_1,df_2])
df_all_rows = df_all_rows.reset_index(drop=True)
df_all_rows

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.1          3.5           1.4          0.2      setosa
1           4.9          3.0           1.4          0.2      setosa
2           4.7          3.2           1.3          0.2      setosa
3           7.0          3.2           4.7          1.4  versicolor
4           6.4          3.2           4.5          1.5  versicolor
5           6.9          3.1           4.9          1.5  versicolor

In [33]:
df_all_rows.shape

(6, 5)

In [31]:
df_all_rows.to_csv('test_merge.csv')